:root {
    --columns-row: 2; 
}

h1 {
    text-align: center;
    margin: 2rem;
}
#mainGame {
    display: flex;
    justify-content: center;
    border: none !important;
}
#container {
    display: grid; 
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    width: 500px;
    height: 500px; 
}
div {
    border: 1px solid #e9ecef;
}